{% extends "base.html" %} {% block content %}

<h1>Add a Term</h1>
<div class="form">
  <form action="{% url 'add_term' %}" method="POST">
    {% csrf_token %}
    <p><b>Original Term:</b> {{ form.original_term }}</p>
    <p><b>Preferred Term:</b> {{ form.preferred_term }}</p>
    <p><b>Provenance:</b> {{ form.provenance }}</p>
    <p><b>Category:</b> {{ form.category }}</p>
    <p><b>Add Tags: </b>{{ form.tags }}</p>
    <input type="submit" value="Submit" />
      </form>

  {% endblock content %}
</div>
