{% extends "base.html" %}

{% block content %}
<h1>Edit Term</h1>

<div>
  <form action="{% url 'edit_term' pk=term.pk %}" method="POST">
    {% csrf_token %}
    <p><b>Original Term: </b>{{ form.original_term }}</p>
    <p><b>Preferred Term: </b>{{ form.preferred_term }}</p>
    <p><b>Provenance:</b> {{ form.provenance }}</p>
    <p><b>Category: </b>{{ form.category }}</p>
    <p><b>Add Tags:</b> {{form.tags }}</p>
    <div>
      <button type="submit">Submit Changes</button>
    </div>
  </form>
</div>
{% endblock content%}

