{% extends "base.html" %}
{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<body>
<h4><a href="{% url 'add_term' %}"> Add a Term</a></h4>
<h4><a href="{% url 'term_library' %}"> View Term Library</a></h4>
<h4><a href="{% url 'tag_list' %}"> Manage Tags</a></h4>
<div>
    Search:
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        <button action="submit" text="submit">Submit</button>
      </form></div>

</body>



{% endblock %}
